---
title: Documentation
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h3 API Docs
    %p
      For documentation on how to configure Picky, see
    %p
      %a{ :href => 'doc/server/index.html' } Server API docs
    %p
      %a{ :href => 'doc/client/index.html' } Client API docs
    %p
      and for a bit more info
    %p
      %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
    %p
      in the repository.
  .grid_1
    %h3 Help?
    %p
      If neither the docs, nor the Wiki has helped, feel free to contact me
      %a{ :href => 'http://github.com/inbox/new/floere' } through Github
      or go through
      %a{ :href => 'http://groups.google.com/group/picky-ruby' } the mailing list
      of Picky (preferred).
    %p
      All the best!
.container_2
  %h2 Single Page Help
  .grid_2.white
    %ol.index
      %li
        %a{ href: '#servers' } Servers / Applications
      %ol
        %li
          %a{ href: '#servers-sinatra' } Sinatra Style
        %ol
          %li
            %a{ href: '#servers-sinatra-routing' } Routing
        %li
          %a{ href: '#servers-classic' } Classic Style
        %ol
          %li
            %a{ href: '#servers-classic-routing' } Routing
        %li
          %a{ href: '#servers-allinone' } All In One (Client + Server)
      %li
        %a{ href: '#indexes' } Indexes
        %ol
          %li
            %a{ href: '#indexes-types' } Types
          %ol
            %li
              %a{ href: '#indexes-types-memory' } In-Memory / File-based
            %li
              %a{ href: '#indexes-types-redis' } Redis
          %li
            %a{ href: '#indexes-sources' } Data Sources
            %ol
              %li
                %a{ href: '#indexes-sources-each' } Sources responding to #each
              %li
                %a{ href: '#indexes-sources-classic' } Classic style sources
          %li
            %a{ href: '#indexes-categories' } Categories
          %li
            %a{ href: '#indexes-indexing' } Indexing
          %li
            %a{ href: '#indexes-keyformat' } Format of the keys / Key Format
          %li
            %a{ href: '#indexes-results' } Identifying in Results
      %li
        %a{ href: '#indexing' } Indexing / Tokenizing
      %li
        %a{ href: '#searching' } Searching / Tokenizing
      %li
        %a{ href: '#results' } Results
    %h2#servers Servers / Applications
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h3#servers-sinatra Sinatra Style
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4#servers-sinatra-routing Routing
    %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h3#servers-classic Classic Style
    %p
      In file
      %code
        %pre
          app/application.rb
        %pre
          :preserve
            class BookSearch < Picky::Application

            end
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4#servers-classic-routing Routing
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h3#servers-allinone All In One (Client + Server)
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h2#indexes Indexes
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %p
      Thanks to whoever made the
      %a{ href: 'http://www.sinatrarb.com/intro' } Sinatra README page
      for the inspiration.





